html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

/*Main colors*/
:root {
  --primary-text-color: #212121;

  --secondary-text-color: #757575;

  --accent-color: #2196f3;

  --primary-white-color: #ffffff;
}

body {
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}

/*Логотип*/

.logo {
  color: #212121;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.accent {
  color: #2196f3;
}

/*Main Nav*/

.page-header {
  display: flex;
  align-items: center;
  width: 1600px;
}

.main-nav {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
/*Site Nav*/

.site-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.site-nav li {
  margin-right: 50px;
}

.site-nav .link {
  color: #212121;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/*auth-nav*/
.link-nav {
  margin-left: auto;
}

.auth-nav {
  display: flex;
}

.auth-nav li {
  margin-right: 50px;
}

.auth-nav .link {
  color: #757575;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
}

/*Герой*/

.hero {
  text-align: center;
  background-color: #2f303a;
}

.hero .subject {
  color: #ffffff;

  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero {
  height: 696px;
  padding-top: 200px;
  padding-right: 452px;
  padding-bottom: 280px;
  padding-left: 452px;
}

.subject {
  text-align: center;
  margin-bottom: 0;
}

/* Button */

.hero .button {
  color: #ffffff;
  background-color: #2196f3;

  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  text-align: center;
  letter-spacing: 0.06em;
}

.button {
  border: 2px;
  margin-top: 30px;
  border-radius: 4px;
  align-items: center;
}

/*Section*/

.heading {
  padding-top: 94px;
}

.flex-container .list {
  display: flex;
  flex-wrap: wrap;
}

.list .flex-element {
  margin-right: 30px;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.section-icon .list {
  padding-top: 50px;
}

.section .list {
  display: flex;
}

.link-container .item {
  align-items: center;
}

.list .item {
  margin-right: 30px;
}

.section {
  margin-top: 94px;
}

.hidden {
  display: none;
}
.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list .text {
  color: #757575;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.pointer:hover,
.pointer:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.pointer {
  cursor: pointer;
}

/*Section Team*/

.team-container .list {
  display: flex;
  flex-wrap: wrap;
}

.list .team-element {
  margin-right: 30px;
}

.team-element:nth-child(4n) {
  margin-right: 0;
}

.heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-team .user {
  color: #212121;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;
}

.section-team .text {
  color: #757575;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;
}

.filter .button {
  color: #212121;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  text-align: center;
  letter-spacing: 0.03em;
}

.filter .button:hover,
.filter .button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

/*section portfolio*/

.filter list .item {
  display: flex;
}

.more {
  color: #212121;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-content .preview {
  color: #757575;

  font-size: 16px;
  line-height: 1.9;

  letter-spacing: 0.03em;
}

/* Footer*/

.page-footer {
  margin-top: 94px;
  padding-top: 60px;
  margin-bottom: 60px;
  padding-left: 215px;
  background: #2f303a;
}

.page-footer .address {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.page-footer .logo {
  color: #ffffff;
}
